.footer__copyright{
    margin: 0;
    font-size: 14px;
    line-height: 1.14;
    font-weight: normal;
    color: white;
}

@media (max-width: 768px){
    .footer__copyright{
        align-self: center;
    }
}

@media (max-width: 425px) {
    .footer__copyright{
        line-height: 1;
        align-self: flex-start;
    }
}