.cover__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(42, 44, 47, 0.3); /* Полупрозрачный слой с цветом #2A2C2F */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 1s ease;
}

.cover:hover .cover__overlay {
    background-color: rgba(42, 44, 47, 0.8);
}